<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
{#    <form action="" method="post">#}
{#        {% csrf_token %}#}
{#        用户名: <input type="text" name="username">#}
{#        密码: <input type="password" name="password">#}
{#        头像: <input type="file" name="avatar" multiple>#}
{#        头像: <input type="file" name="avatar">#}
{#        <input type="submit">#}
{#    </form>#}

    用户名: <input type="text" name="username">
    密码: <input type="password" name="password">
    {# 头像: <input type="file" name="avatar" multiple> #}
    头像: <input type="file" name="avatar">
    <button id="btn">提交</button>

</body>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $('#btn').click(function(){
        var uname = $("[name='username']").val();
        var pwd = $("[name='password']").val();
        var file_obj = $("[type='file']")[0].files[0];
        // ajax上传文件,必须将文件数据放到一个叫做formdata的对象中才能发送
        var formdata = new FormData();
        formdata.append('username', uname);
        formdata.append('password', pwd);
        formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        formdata.append('avatar', file_obj);    // request.FILES.get('avatar')
        $.ajax({
            url: '/upload/',
            type: 'post',
            data: formdata,    // ajax会将本次请求的数据格式改为content-type:multipart/form-data
            // 告诉ajax不要对数据进行预处理和加工,上传文件必须加这两个参数
            contentType: false,
            processData: false,
            success: function(res){

            }
        })
    })

</script>

</html>